ul {
  display: flex;
  padding-left: 0;
}

ul li {
  display: flex;
  list-style: none;
  margin-right: 25px;
}

ul li a {
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  transition: 0.5 ease;
}

ul:hover li a {
  color: #096d4f
}

ul:hover li a:not(:hover) {
  color: white;
  opacity: .5;
  filter: blur(1px);
}

.newTask {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 36px;
  margin-left: 90%;
  background-color: #12b886;
  border-radius: 15px;
  border: 1px solid #18dda2;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.newTask:hover {
  color: #096d4f;
}

.newTask:active {
  position: relative;
  top: 1px;
}

.noTasks {
  font-weight: 300;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 250px;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.259);
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 120px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 450px;
}

#modalH1 {
  margin: auto;
}

.modal label {
  margin-top: 10px;
  font-weight: 300;
}

.modal input,
.modal select,
.modal textarea {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.modal-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.cancelButton {
  background-color: #ccc;
  color: #fff;
}

.cancelButton:hover {
  background-color: #797979;
}


.saveButton {
  background-color: #12b886;
  color: #fff;
  margin-left: 20px;
}

.saveButton:hover {
  background-color: #0d815e;
}

/* ////////////////////////////////// */
.tasks-container {
  max-width: 1368px;
  margin: 30px auto;
  padding: 0 15px 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-weight: 300;
}

.task-card {
  border: 1px solid #ccc;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.edit-task-button {
  font-size: 19px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.title-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.edit-task-button:hover {
  background-color: #31ecb4bf;
}


.edit-task-button i {
  color: #fff;
  font-size: 18px;
}

.task-card div {
  margin-bottom: 5px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title>div>h2 {
  font-weight: 400
}

.card-info-container {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.card-info-container>p {
  padding: 8px;
  border-radius: 30px;
  font-weight: 400;
}

.card-email {
  background-color: rgba(104, 104, 104, 0.2);
  color: #585858;
}

.high-priority {
  background-color: #f9b8ba;
  color: #ee708e;
}

.medium-priority {
  background-color: rgb(255, 203, 105);
  color: rgb(255, 233, 191);
}

.low-priority {
  color: #e5fff7bf;
  background-color: #31ecb494;
}


.card-status {
  background-color: #e1f5fd;
  color: #7dc5e1;
}

.sort-list-img {
  width: 25px;
  height: 25px;
}

.sort-list-button {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 20px;
  background-color: #12b886;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}


.sort-list-button:hover {
  background-color: #53c9a6;
}

.sort-list-button:active {
  background-color: #12b886;
  box-shadow: 0 1px;
  transform: translateY(2px);
}

/* ////////////////////////// */
@media (max-width: 1368px) {
  ul li a {
    font-size: 20px;
    padding: 5px;
  }

  .noTasks {
    height: 200px;
  }

  .newTask {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .sort-list-button {
    display: flex;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;

  }

  .tasks-container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .newTask {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .noTasks {
    width: 90vw;
    height: 300px;
  }

  .sort-list-button {
    display: flex;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;

  }

  .tasks-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 768px;
  }
}

@media (max-width: 480px) {

  .sort-list-button {
    display: flex;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 20px;
  }

  ul li a {
    font-size: 20px;
    padding: 5px;
  }

  .noTasks {
    height: 200px;
  }

  .tasks-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 480px;
  }
}