nav {
    display: flex;
    justify-content: flex-end;
    background-color: #12B886;
    margin-left: auto;
    align-items: center;
    gap: 0px;
    height: 70px;
}

@media (max-width: 768px) {
    nav {
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0;
    }
}